{% extends "railways/layout.html" %}

{%block title%}
Check PNR
{%endblock%}

{% block body %}

<div class="container">
    <form action="{% url 'check_pnr' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="PNR">PNR Number</label>
            <input type="text" name="pnr" class="form-control" id="PNR" placeholder="10 digit PNR Number">
        </div>
        <div class="form-group">
            <input type="submit"  class="form-control" value="Search">
        </div>
    </form>

    <div>
        {% for data in passengers %}

        <div class="post">
            <h4><i class="fa fa-train"></i> 
                {% for trainData in data.train_info.all %}
                    {{trainData.train}} <span class="float-right"><i class="fa fa-calendar"></i>{{trainData.date}}</span>
                {% endfor %}
            </h4>
            <h5>{{data.firstName}} {{data.lastName}}</h5>
            <h6>PNR : {{data.PNR}}</h6>
            <p>Seat : {{data.seat}}</p>
            <hr>
           
        {% endfor %}
    </div>

</div>

{%endblock%}